@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* 圓角的滾動條 */
::-webkit-scrollbar {
  width: 10px; /* 垂直滾動條寬度 */
  height: 12px; /* 水平滾動條高度 */
}

/* 滾動條的圓角 */
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* 滾動條顏色 */
  border-radius: 4px; /* 圓角 */
}

/* 滾動條的背景 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 隱藏上下的箭頭 */
::-webkit-scrollbar-button {
  display: none;
}