@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  overscroll-behavior: none; /* 僅對 body 應用橡皮筋效果取消 */
}

/* 滾動條樣式 */
::-webkit-scrollbar {
  width: 10px; /* 垂直滾動條寬度 */
  height: 12px; /* 水平滾動條高度 */
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

/* 滾動條的背景 */
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* 隱藏上下的箭頭 */
::-webkit-scrollbar-button {
  display: none;
}